@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif+Caption|PT+Mono|PT+Serif|PT+Sans+Caption);

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif Caption', serif;
font-family: 'PT Mono', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'PT Sans Caption', sans-serif;
*/

* {padding: 0; margin: 0; font-family: 'PT Sans', Arial, sans-serif; font-size:1em; font-weight: normal; color:#000;}
body { background: #000 url(image/bg2.jpg) 0 0 fixed; background-attachment: cover}
h1 { font-size: 3em}
h2 { font-size: 2em}
h3 { font-size: 1.5em}
hr { margin: 20px 0}
form * {display:block;}
label {font-size: 0.8em; color:#666; font-weight: bold}
input { border:1px solid #CCC; padding: 5px; margin:2px 0 10px 0; min-width: 200px; color:#890; border-radius: 6px; box-shadow: 0 -1px 4px #CCC inset}
button { display:inline; padding: 4px 15px; margin: 20px 0 0 0 }

form a {display: inline; text-decoration: none; color:#039;}
form a:hover { text-decoration: underline;}

blockquote, blockquote *{ font-style: italic; font-family: 'PT Serif', Serif; color:#999;}
blockquote {padding: 20px 0 30px 45px; background: url(image/aspas.gif) left 14px no-repeat}
blockquote b { font-weight: bold}

.container {width:320px; margin:20px auto; padding:20px; background:#FFF; min-height:300px; box-shadow: 0 10px 20px #000}

/*Remover . . .*/
.container {background-image: linear-gradient(to bottom, #FFF, #CCC); border-bottom-right-radius: 20px; border-top-left-radius: 20px;}
.container h1, .container a {margin: 10px auto; text-align: center; text-decoration: none; display:block; width: 100%}
.container a:hover { color: #890}
.container h1 {color:#999;}

/*Remover . . .*/

.conteudo { padding:20px 5px; border:1px solid #DDD; min-height: 100px; color:#456}

.footer { width: 320px; margin:20px auto; color: #FFF}
.footer *{color:#FFF;}
.msg {clear:both; border:1px solid #F00; background:#FDC; color:#F00; padding: 10px; margin:20px 0;}

.e404 { width: 630px; background-image: none}